.work-experience-item {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "work-experience-item-start-year work-experience-item-end-year work-experience-item-title"
        "work-experience-item-start-year work-experience-item-end-year work-experience-item-details";
    background-color: white;
}

.work-experience-item-start-year {
    grid-area: work-experience-item-start-year;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--jelly-bean);
    margin: 0;
    font-weight: bold;
    font-size: large;
    color: var(--tan);
    padding: 5px;
}

.work-experience-item-end-year {
    grid-area: work-experience-item-end-year;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--jelly-bean);
    margin: 0;
    font-weight: bold;
    font-size: large;
    color: var(--tan);
    padding: 5px;
}

.work-experience-item-details {
    grid-area: work-experience-item-details;
    border: 2px solid var(--jelly-bean);
    margin: 0;
    padding: 5px;
}

.work-experience-item-title {
    grid-area: work-experience-item-title;
    border: 2px solid var(--jelly-bean);
    margin: 0;
    padding: 5px;
}
