.work-experience-section {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-experience-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 20px;
    width: 100%;
    max-width: var(--width-page);
    box-sizing: border-box;
    padding: 0 var(--gutter);
    margin: 2rem auto;
}

@media (max-width: 786px) {
    .work-experience-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin: 1rem;
    }

}
