header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 800px;
    align-self: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--thunder);
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

nav a:hover {
    background-color: var(--tan);
}

.nav_title {
    color: var(--thunder);
    font-weight: 500;
}

@media (max-width: 768px) {
    nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        gap: 20px;
    }
    nav a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav a:before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #f0f0f0;
        border-radius: 50%;
        margin-right: 10px;
    }
}