header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px 0;
    width: 800px;
    align-self: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--thunder);
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
    background-color: var(--tan);
    color: white;
}

.nav_title {
    width: 50px;
    height: 50px;
}

@media (max-width: 786px) {
    header {
        width: 100vw;
    }
    .nav-links {
        display: none;
    }
    .nav_title {
        margin: 1rem;
    }
}